.ProductContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ededeb;
}
body{
    background-color: #ededeb;
}
.product-card{
    margin: 10px;
    width: 220px;
    height: auto;
    border: 0.5rem solid white;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    text-decoration:none;
    color: black;
}
.image{
    width: 200px;
    height: 200px;
    padding: 10px;
}
.header{
    width: 200px;
    font-weight: 550;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.price{
    font-weight: 1000;
}

.product-card:hover{
    cursor: pointer;
    transform: scale(1.02);

}